body {
    background-color: #f5f5f5;
    font-family: sans-serif;
    margin: 20px;
  }
  
  .stApp {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .stTitle {
    font-size: 2.2em;
    color: #212529;
    text-align: center;
  }
  
  .stSubheader {
    font-size: 1.8em;
    color: #343a40;
  }
  
  .stButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .stButton:hover {
    background-color: #2980b9;
  }
  